* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background: rgba(122, 120, 120, 0.089);
  padding-top: 5rem;
}

nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  background-color: black;
  font-size: 12px;
  border-radius: 5px;
}

main {
  max-width: 600px;
  margin: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 6px 21px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}
section {
  padding-bottom: 5px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 17px;
  line-height: 2px;
}

p,
li {
  font-size: 13px;
}
